div{
    height: 50px;
    weight: 1px;
    background-color: aqua;
    border: 1px solid black;
}
#Transform{
    transform: rotateX(180deg);
}
#TextDecoration{
    text-decoration: underline;
}
#TextTransform{
    text-transform: capitalize;
}
#BoxShadow{
    box-shadow: inset pink;
}
#TextIndent{
    text-indent: 25px;
}